<div class="container">
  <div class="header">
    <h1>{{ 'RESERVATION.CREATE_TITLE' | translate }}</h1>
  </div>

  <form class="form" [formGroup]="form" (ngSubmit)="save()">
    <div class="row">
      <mat-form-field appearance="outline" class="half">
        <mat-label>User ID</mat-label>
        <input matInput type="number" formControlName="userId" />
        <mat-error *ngIf="form.get('userId')?.touched && form.get('userId')?.invalid">
          {{ getErrorMessage('userId') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half">
        <mat-label>Track ID</mat-label>
        <input matInput type="number" formControlName="trackId" />
        <mat-error *ngIf="form.get('trackId')?.touched && form.get('trackId')?.invalid">
          {{ getErrorMessage('trackId') }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="half">
        <mat-label>Kart ID</mat-label>
        <input matInput type="number" formControlName="kartId" />
        <mat-error *ngIf="form.get('kartId')?.touched && form.get('kartId')?.invalid">
          {{ getErrorMessage('kartId') }}
        </mat-error>
      </mat-form-field>

     <!-- Date -->
<mat-form-field appearance="outline" class="half">
  <mat-label>{{ 'RESERVATION.FIELDS.DATE' | translate }}</mat-label>
  <input
    matInput
    [matDatepicker]="picker"
    formControlName="reservationDate"
  />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="half">
        <mat-label>Start time</mat-label>
        <input matInput type="time" formControlName="startTime" />
        <mat-error *ngIf="form.get('startTime')?.touched && form.get('startTime')?.invalid">
          {{ getErrorMessage('startTime') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half">
        <mat-label>End time</mat-label>
        <input matInput type="time" formControlName="endTime" />
        <mat-error *ngIf="form.get('endTime')?.touched && form.get('endTime')?.invalid">
          {{ getErrorMessage('endTime') }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Opcionalno: greška za cijelu formu (npr. endTime <= startTime) -->
    <div class="form-error" *ngIf="form.touched && form.errors?.['invalidTimeRange']">
      End time must be after start time
    </div>

    <div class="actions">
      <button type="button" mat-stroked-button (click)="onCancel()" [disabled]="isLoading">
        <mat-icon>close</mat-icon>
        {{ 'COMMON.CANCEL' | translate }}
      </button>

      <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid || isLoading">
        <mat-icon>save</mat-icon>
        {{ 'COMMON.SAVE' | translate }}
      </button>
    </div>
  </form>
</div>
